html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --color-principal: rgba(158, 205, 255, 0.329);
  --color-principal-focus: rgba(158, 205, 255, 0.6);
}

.tool_Area {
  text-align: center;
  /* height: 100%; */
  /* padding: 24px; */
  box-sizing: border-box;
  /* display: flex; */
  /* background-color: #f5f5fa; */
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  /* background-color: #78a8fa; */
  z-index: 10;
}

h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 52px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 img {
  width: 42px;
  text-decoration: none;
}

h1 a {
  text-decoration: none;
  color: #ccc;
}

.description {
  font-size: 20px;
  /* line-height: 28px; */
  margin-left: 20%;
  margin-right: 20%;
  color: #ccc;
  text-shadow: 1px 1px 3px #000;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: column wrap;
}

body:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* width: 100%;
  min-height: 100vh; */
}

.content-quality {
  padding: 5px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.content-quality p {
  font-size: 20px;
  color: #eee;
  text-shadow: 1px 1px 3px #000;
  letter-spacing: 1px;
}

.content-quality select,
.content-quality select > option {
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.content-quality select > option {
  transition: all 0.3s ease-in-out;
}
.content-quality select > option:hover {
  background-color: #2061bd;
}

.file-upload-drag input {
  display: none;
}

.drop-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid 2px #dae8ed;
  padding: 5rem 0.5rem;
  margin: 0 20%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.drag-text {
  color: #eee;
  text-shadow: 1px 1px 3px #000;
  letter-spacing: 1px;
}

.file-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

button,
a.dowloadFile,
a.back-home {
  background-color: var(--color-principal);
  cursor: pointer;
  color: #eee;
  text-shadow: 1px 1px 3px #000;
  letter-spacing: 1px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  border: none;
  font-size: 1rem;
  border-radius: 0.75rem;
  padding: 0.8rem 9rem;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(0.95, 0.9);
}

button:focus{
  background-color: var(--color-principal-focus);
}

button[disabled="disabled"]{
  cursor:not-allowed;
}

button[disabled="disabled"]:hover{
  transform: scale(1, 1);
}

a.dowloadFile,
a.back-home {
  display: inline-flex;
  padding: 1.5rem 2.5rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  display: inline-block;
  align-items: center;
}
a.dowloadFile img {
  width: 30px;
  margin: 0.5rem;
}

a.back-home {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2.5rem;
  text-decoration: none;
  font-size: 1.25rem;
}

a.back-home img {
  width: 23px;
  margin: 0.5rem;
}

#preview {
  margin-top: 10px;
  color: #eee;
  text-shadow: 1px 1px 3px #000;
  letter-spacing: 1px;
}

#preview .status > span{
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #3b8cff;
}

.status p{
  color: #3b8cff;
}

.status-text {
  padding: 0 10px;
}

.success {
  color: #2061bd;
}

.error {
  color: #ff0000;
}

.dowload-image a {
  color: #eee;
  text-decoration: none;
  display: inline-flex;
}

.footer {
  color: #ccc;
  background-color: #2061bdaf;
  text-align: center;
  z-index: 10;
  padding: 0.5rem 0;
  position: relative;
  margin-top: 1.5rem;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #ccc;
  transition: all 300ms ease-in-out;
}

.footer a:hover {
  color: #8e8e92;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  .description,
  .files {
    margin: 0 auto 1rem;
  }

  .description {
    font-size: 16px;
    width: 75%;
  }
  .content-quality{
    flex-direction: column row;
    
  }
   
  .content-quality p{
    font-size: 15px;
  }

  button{
    padding: 0.8rem 5rem;
  }
}
